header {
    background-color: lightblue;
    border-radius: 7px;
    border: 1px solid lightblue;
}

header p {
    font-size: 50px;
    margin: 10px;
    padding: 10px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

main {
    background-color: #47BFFF;
    border: 1px #47BFFF;
    border-radius: 10px;
}

h2 {
    font-size: 35px;
}

img {
    margin: 10px;
    border-radius: 10px;
}

.Opisanie {
    font-size: 35px;

}

.button {
    font-size: 50px;
    text-decoration: none;
    border-radius: 7px;
    border: 5px solid blue;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    background-color: pink;
}

.Dal {
    font-size: 50px;
}

.Zagolovok {
    text-align: center;
    font-size: 35px;
}

